button{
    background-color: white;
    color: black;
    width: 4em;
    display: inline-block;
}

main {
    position: relative;
    grid-template-rows: auto auto;
    float: left;
}

div {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    float: left;
}

.panel{
    grid-template-columns: auto auto auto auto;
    float: left;
}

input {
    width: 11em;
    position: relative;
    display: block;
}

ul {
    list-style: none
}

li{
    float: left;
}
