/*-------encabezados--------*/
h1, h2, h3, h4, h5, h6{
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size-adjust: 0.5;
    padding-top: 10px;
}

h1, h3, h5{
    font-stretch: expanded;
}

h2, h4, h6{
    font-style: italic;
}

h1{
    font-size: 2em;
    border-bottom: 1px solid white;
    margin-bottom: 0px;
}
h2{
    border-bottom: 1px solid #004c99;
    font-size: 1.5em;
}

h3{
    border-bottom: 1px solid #004c99;
    font-size: 1.2em;
}
h4{
    border-bottom: 1px solid #004c99;
    font-size: 1em;
}
h5{
    border-bottom: 1px solid #004c99;
    font-size: 0.89em;
}
h6{
    border-bottom: 1px solid #004c99;
    font-size: 0.6em;
}

/*--------Texto------*/
h1{
    color: white;
    background-color: #004c99;
}
p, li,td{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: initial
}

/*---------Color--------*/
h2, h3, h4, h5, h6{
    color: #004c99;
    background-color: white;
}

section{
    color: black;
    background-color: white;
    text-align: initial;
    text-justify: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

td{
    color: #004c99;
    background-color: white;
    padding: 5px;
}

th{
    color:white;
    background-color: #004c99;
    padding: 5px;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-width: 100%;
    height: auto;
}

table, th, td{
    border: 1px;
    border-style: ridge;
    border-color: black;
}

/*---------- Enlaces --------------*/
a:link{
    color: #004c99;
    background-color: transparent;
    text-decoration: underline dotted;
}

a:visited {
    color: #004c99;
    background-color: transparent;
    text-decoration: underline solid;
}
/*---------- Menu --------------*/
nav{
    background-color: #004c99;
    color: white;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    background-color: #004c99;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
    color: #004c99;
}

nav a:link{
    background-color: #004c99;
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #004c99;
}
/*------------- Background -------------*/

body {
    color: black;
    text-align: initial;
    text-justify: auto;
    padding: 10px;
    background-image: url("multimedia/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-color: gray;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "header header"
    "content sidebar"
    "footer footer";
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*---------- Semantic tags ------------*/
footer {
    background-color: #e8eef7;
    color: #004c99;
    text-align: initial;
    text-justify: auto;
    padding: 10px;
    grid-area: footer;
}

main {
    background-color: white;
    color: black;
    border: 1px solid #004c99;
    grid-area: content;
}

header {
    grid-area: header;
}

aside {
    background-color: white;
    color: black;
    grid-area: sidebar;
    padding: 4px;
    border: 1px solid #004c99;
    grid-gap: 0px;
    line-height: 2em;
    max-width: 20em;
}

aside img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside h2{
    border: none;
    padding-top: 0px;
    font-style: normal;
}

aside li a:hover {
    background-color: #e8eef7;
    color: #004c99;
}

/*---------Galeria---------*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*---------SVG---------*/
rect {
    fill:#004c99 ; /* changes the background */
    transition: fill .3s ease;
}
rect:hover,
rect:focus {
    fill: #e8eef7;
    stroke:#004c99;
    stroke-width:1;
}
text:hover text,
text:focus text {
    fill: #e8eef7;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

#map-canvas {
    height: 500px;
    width: 100%;
}

