body { 
    background-image: url("multimedia/background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-color: gray
}
