/*-------encabezados--------*/
h1, h2, h3, h4, h5, h6{
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 700;
    font-size-adjust: 0.5; 
    text-align: center;
    border-style: solid;
    border-color: rgb(51, 102, 153);
    border-radius: 4em;
}
h1, h3, h5{
    font-stretch: expanded;
}

h2, h4, h6{
    font-style: italic;
}

h1{
    font-size: 2em;
    margin-right: 150px;
    margin-left: 150px;
}
h2{
    font-size: 1.5em;
    /*margin-right: 70%;*/
}

h3{
    font-size: 1.2em;
}
h4{
    font-size: 1em;
}
h5{
    font-size: 0.89em;
}
h6{
    font-size: 0.6em;
}

/*--------Texto------*/
p, li,td{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: initial
}

/*---------Color--------*/
h1, h2, h3, h4, h5, h6{
    color: white;
    background-color: rgb(50, 133, 168);
}

section{
    color: black;
    background-color: rgba(255, 255, 255, 0.851);
    text-align: initial;
    text-justify: auto;
    border-color: rgba(0, 102, 204, 0.851);
    #border-style: outset;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

td{
    color: black;
    background-color: #ad845d;
}

th{
    color:white;
    background-color: olivedrab
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
table, th, td{
    border: 1px;
    border-style: ridge;
    border-color: black;
}

/*---------- Menu --------------*/
nav{
    background-color: rgb(0, 153, 204);
}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
} 

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(51, 102, 153);
}

/*------------- Background -------------*/

body { 
    background-image: url("multimedia/background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-color: gray
}
